In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
%matplotlib inline
import matplotlib 
matplotlib.rcParams["figure.figsize"] = (20,10)

In [2]:
df = pd.read_csv("Life Expectancy Data.csv")
df.head()

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,Afghanistan,2015,Developing,65.0,263.0,62,0.01,71.279624,65.0,1154,...,6.0,8.16,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1
1,Afghanistan,2014,Developing,59.9,271.0,64,0.01,73.523582,62.0,492,...,58.0,8.18,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0
2,Afghanistan,2013,Developing,59.9,268.0,66,0.01,73.219243,64.0,430,...,62.0,8.13,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9
3,Afghanistan,2012,Developing,59.5,272.0,69,0.01,78.184215,67.0,2787,...,67.0,8.52,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8
4,Afghanistan,2011,Developing,59.2,275.0,71,0.01,7.097109,68.0,3013,...,68.0,7.87,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5

In [4]:
df.shape

(2938, 22)

In [9]:
print(df.columns.tolist())

['Country', 'Year', 'Status', 'Life expectancy ', 'Adult Mortality', 'infant deaths', 'Alcohol', 'percentage expenditure', 'Hepatitis B', 'Measles ', ' BMI ', 'under-five deaths ', 'Polio', 'Total expenditure', 'Diphtheria ', ' HIV/AIDS', 'GDP', 'Population', ' thinness  1-19 years', ' thinness 5-9 years', 'Income composition of resources', 'Schooling']

In [14]:
df1 = df.copy()
df1.columns = df1.columns.str.strip()

# Check available columns
print(df1.columns)

Index(['Country', 'Year', 'Status', 'Life expectancy', 'Adult Mortality',
       'infant deaths', 'Alcohol', 'percentage expenditure', 'Hepatitis B',
       'Measles', 'BMI', 'under-five deaths', 'Polio', 'Total expenditure',
       'Diphtheria', 'HIV/AIDS', 'GDP', 'Population', 'thinness  1-19 years',
       'thinness 5-9 years', 'Income composition of resources', 'Schooling'],
      dtype='object')

In [20]:
df1.isnull().sum()

Country                              0
Year                                 0
Status                               0
Life expectancy                     10
Adult Mortality                     10
infant deaths                        0
Alcohol                            194
percentage expenditure               0
Hepatitis B                        553
Measles                              0
BMI                                 34
under-five deaths                    0
Polio                               19
Total expenditure                  226
Diphtheria                          19
HIV/AIDS                             0
GDP                                448
Population                         652
thinness  1-19 years                34
thinness 5-9 years                  34
Income composition of resources    167
Schooling                          163
dtype: int64

In [21]:
# Check countries where all Population values are null
all_null_countries = df1.groupby('Country')['Population'].apply(lambda x: x.isna().all()).reset_index()
all_null_countries = all_null_countries[all_null_countries['Population'] == True]

print(all_null_countries)

                                               Country  Population
4                                  Antigua and Barbuda        True
10                                             Bahamas        True
11                                             Bahrain        True
13                                            Barbados        True
19                    Bolivia (Plurinational State of)        True
23                                   Brunei Darussalam        True
37                                               Congo        True
38                                        Cook Islands        True
41                                                Cuba        True
43                                             Czechia        True
44                                       Côte d'Ivoire        True
45               Democratic People's Republic of Korea        True
46                    Democratic Republic of the Congo        True
49                                            Dominica        True
52                                               Egypt        True
62                                              Gambia        True
67                                             Grenada        True
78                          Iran (Islamic Republic of)        True
89                                              Kuwait        True
90                                          Kyrgyzstan        True
91                    Lao People's Democratic Republic        True
96                                               Libya        True
105                                   Marshall Islands        True
109                   Micronesia (Federated States of)        True
110                                             Monaco        True
117                                              Nauru        True
120                                        New Zealand        True
124                                               Niue        True
126                                               Oman        True
136                                              Qatar        True
137                                  Republic of Korea        True
138                                Republic of Moldova        True
142                              Saint Kitts and Nevis        True
143                                        Saint Lucia        True
144                   Saint Vincent and the Grenadines        True
146                                         San Marino        True
148                                       Saudi Arabia        True
153                                          Singapore        True
154                                           Slovakia        True
157                                            Somalia        True
170          The former Yugoslav republic of Macedonia        True
181                               United Arab Emirates        True
182  United Kingdom of Great Britain and Northern I...        True
183                        United Republic of Tanzania        True
184                           United States of America        True
188                 Venezuela (Bolivarian Republic of)        True
189                                           Viet Nam        True
190                                              Yemen        True

In [22]:
# Identify countries where all Population values are null
all_null_countries = df1.groupby('Country')['Population'].apply(lambda x: x.isna().all())
countries_to_remove = all_null_countries[all_null_countries].index

# Remove these countries from df1
df1 = df1[~df1['Country'].isin(countries_to_remove)].reset_index(drop=True)

print("Remaining rows after removing countries with all Population null:", len(df1))

Remaining rows after removing countries with all Population null: 2290

In [23]:
df1.isnull().sum()

Country                              0
Year                                 0
Status                               0
Life expectancy                      2
Adult Mortality                      2
infant deaths                        0
Alcohol                            157
percentage expenditure               0
Hepatitis B                        482
Measles                              0
BMI                                 32
under-five deaths                    0
Polio                               19
Total expenditure                  156
Diphtheria                          19
HIV/AIDS                             0
GDP                                 26
Population                           4
thinness  1-19 years                32
thinness 5-9 years                  32
Income composition of resources      1
Schooling                            0
dtype: int64

In [26]:
# Identify countries where all Population values are null
all_null_countries = df1.groupby('Country')['Hepatitis B'].apply(lambda x: x.isna().all())
countries_to_remove = all_null_countries[all_null_countries].index

# Remove these countries from df1
df2 = df1[~df1['Country'].isin(countries_to_remove)].reset_index(drop=True)

print("Remaining rows after removing countries with all Population null:", len(df1))

Remaining rows after removing countries with all Population null: 2162

In [29]:
# Identify countries where all Population values are null
all_null_Alcohol= df2.groupby('Country')['Alcohol'].apply(lambda x: x.isna().all())
countries_to_remove = all_null_Alcohol[all_null_Alcohol].index

# Remove these countries from df1
df1 = df1[~df1['Country'].isin(countries_to_remove)].reset_index(drop=True)

print("Remaining rows after removing countries with all Population null:", len(df1))

Remaining rows after removing countries with all Population null: 2145

In [30]:
# Identify countries where all Population values are null
all_null_thinness1_19_years= df2.groupby('Country')['thinness  1-19 years'].apply(lambda x: x.isna().all())
countries_to_remove = all_null_thinness1_19_years[all_null_thinness1_19_years].index

# Remove these countries from df1
df1 = df1[~df1['Country'].isin(countries_to_remove)].reset_index(drop=True)

print("Remaining rows after removing countries with all Population null:", len(df1))

Remaining rows after removing countries with all Population null: 2129

In [36]:
df1.isnull().sum()

Country                              0
Year                                 0
Status                               0
Life expectancy                      1
Adult Mortality                      1
infant deaths                        0
Alcohol                            132
percentage expenditure               0
Hepatitis B                        334
Measles                              0
BMI                                  0
under-five deaths                    0
Polio                                8
Total expenditure                  134
Diphtheria                           8
HIV/AIDS                             0
GDP                                 18
Population                           4
thinness  1-19 years                 0
thinness 5-9 years                   0
Income composition of resources      1
Schooling                            0
dtype: int64

In [37]:
# For each column with nulls
cols_with_nulls = ['Life expectancy', 'Adult Mortality', 'Alcohol', 'Hepatitis B', 
                   'Polio', 'Total expenditure', 'Diphtheria', 'GDP', 'Population', 
                   'Income composition of resources']

# Fill missing values per country using the country's mean
for col in cols_with_nulls:
    df1[col] = df1.groupby('Country')[col].transform(lambda x: x.fillna(x.mean()))

# Check remaining nulls
print(df1.isnull().sum())

Country                            0
Year                               0
Status                             0
Life expectancy                    1
Adult Mortality                    1
infant deaths                      0
Alcohol                            0
percentage expenditure             0
Hepatitis B                        0
Measles                            0
BMI                                0
under-five deaths                  0
Polio                              0
Total expenditure                  0
Diphtheria                         0
HIV/AIDS                           0
GDP                                0
Population                         0
thinness  1-19 years               0
thinness 5-9 years                 0
Income composition of resources    1
Schooling                          0
dtype: int64

In [38]:
df1.head()

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,Afghanistan,2015,Developing,65.0,263.0,62,0.01,71.279624,65.0,1154,...,6.0,8.16,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1
1,Afghanistan,2014,Developing,59.9,271.0,64,0.01,73.523582,62.0,492,...,58.0,8.18,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0
2,Afghanistan,2013,Developing,59.9,268.0,66,0.01,73.219243,64.0,430,...,62.0,8.13,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9
3,Afghanistan,2012,Developing,59.5,272.0,69,0.01,78.184215,67.0,2787,...,67.0,8.52,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8
4,Afghanistan,2011,Developing,59.2,275.0,71,0.01,7.097109,68.0,3013,...,68.0,7.87,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5

In [40]:
# Filter Afghanistan rows
afg_pop = df1[df1['Country'] == 'Afghanistan']['Population']

# Compute mean and std
pop_mean = afg_pop.mean()
pop_std = afg_pop.std()

# Keep only values within mean ± std
cleaned_afg_pop = afg_pop[(afg_pop >= pop_mean - pop_std) & (afg_pop <= pop_mean + pop_std)]

# Compute cleaned mean
cleaned_mean = cleaned_afg_pop.mean()
print("Cleaned average population:", cleaned_mean)

Cleaned average population: 3612683.6666666665

In [41]:
df1['Status'].dtype

dtype('O')

In [42]:
df1['Status'].unique()

array(['Developing', 'Developed'], dtype=object)